html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon", href="images/favicon.ico")
        link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css' integrity='sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p' crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
        title Shion house
    body
        header.media
            .nav__menu
                .menu__elements.media
                    .logo 
                        a(name='start')
                        img(src="images/logo.png", alt="Shion house")
                    .menu__links
                        a(href="#") Home
                        a(href="#") Shop 
                        a(href="#") About
                        a(href="#") Blog
                        a(href="#") Contact
                    .menu-burger.media
                        .line
                        .line
                        .line
                .menu__icons.media
                    .icon__item
                        i.fab.fa-twitter
                    .icon__item
                        i.fab.fa-facebook-f
                    .icon__item
                        i.fab.fa-pinterest-p
                    .icon__item.search
                        i.fas.fa-search
                    .icon__item.pack
                        i.fas.fa-shopping-bag

        .the-way.media
            a(href="#") Home  
            p &gt;
            a(href="#") Shop  

        .main.media
            .container
                .main__header
                    h2 Shop with us
                    p Browse from 230 latest items
                .main__content
                    .main__category
                        .category Category 
                            i.fas.fa-chevron-down
                        .category Type 
                            i.fas.fa-chevron-down
                        .category Size
                            i.fas.fa-chevron-down
                        .category Color
                            i.fas.fa-chevron-down
                        .category Price range
                            i.fas.fa-chevron-down
                    .main__files
                        .card
                            img(src="images/pic1.jpg", alt="Picture")
                            .for__icon
                                i.fas.fa-shopping-bag
                            .card__caption
                                h3 Caption
                                .rating 
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                p Price
                        .card
                            img(src="images/pic2.jpg", alt="Picture")
                            .for__icon
                                i.fas.fa-shopping-bag
                            .card__caption
                                h3 Caption
                                .rating 
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                p Price
                        .card
                            img(src="images/pic3.jpg", alt="Picture")
                            .for__icon
                                i.fas.fa-shopping-bag
                            .card__caption
                                h3 Caption
                                .rating 
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                p Price
                        .card
                            img(src="images/pic4.jpg", alt="Picture")
                            .for__icon
                                i.fas.fa-shopping-bag
                            .card__caption
                                h3 Caption
                                .rating 
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                p Price
                        .card
                            img(src="images/pic5.jpg", alt="Picture")
                            .for__icon
                                i.fas.fa-shopping-bag
                            .card__caption
                                h3 Caption
                                .rating 
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                p Price
                        .card
                            img(src="images/pic6.jpg", alt="Picture")
                            .for__icon
                                i.fas.fa-shopping-bag
                            .card__caption
                                h3 Caption
                                .rating 
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                p Price
                        .card
                            img(src="images/pic7.jpg", alt="Picture")
                            .for__icon
                                i.fas.fa-shopping-bag
                            .card__caption
                                h3 Caption
                                .rating 
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                p Price
                        .card
                            img(src="images/pic8.jpg", alt="Picture")
                            .for__icon
                                i.fas.fa-shopping-bag
                            .card__caption
                                h3 Caption
                                .rating 
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                p Price
                button 
                    a(href="https://learn.javascript.ru") Browse More

        .gallery.media   
            .gallery__show
                .box.frt
                    button Shop now
                    .classes 
                        a(href="#") Glasses
                .box.sec
                    button Shop now
                    .classes 
                        a(href="#") Watches
                .box.thr
                    button Shop now
                    .classes 
                        a(href="#") Jackets
                .box.frh    
                    button Shop now
                    .classes 
                        a(href="#") Clothes
                   
        .services.media
            .services__block
                img(src="images/services1.svg", alt="Services")
                h5 Fast &amp; Free Delivery
                p Free delivery on all orders
            .services__block
                img(src="images/services2.svg", alt="Services")
                h5 Fast &amp; Free Delivery
                p Free delivery on all orders
            .services__block
                img(src="images/services3.svg", alt="Services")
                h5 Fast &amp; Free Delivery
                p Free delivery on all orders
            .services__block
                img(src="images/services4.svg", alt="Services")
                h5 Fast &amp; Free Delivery
                p Free delivery on all orders

        footer.media
            .footer__wrapper
                .footer__main
                    .footer__box.main
                        a(href='#top')
                            img(src="images/logo2.png", alt="logo")
                        p Suspendisse varius enim in eros elementum tristique. Duis cursus, 
                            |mi quis viverra ornare, eros dolor interdum nulla.
                        .footer__icons
                            a(href="#")
                                i.fab.fa-twitter
                            a(href="#")
                                i.fab.fa-facebook-f
                            a(href="#")
                                i.fab.fa-pinterest-p
                    .footer__box
                        h4 Quick links
                        a(href="#") Image Licensin
                        a(href="#") Style Guide
                        a(href="#") Privacy Policy
                    .footer__box
                        h4 Shop Category
                        a(href="#") Image Licensin
                        a(href="#") Style Guide
                        a(href="#") Privacy Policy
                    .footer__box
                        h4 Perthers
                        a(href="#") Image Licensin
                        a(href="#") Style Guide
                        a(href="#") Privacy Policy
                    .footer__box
                        h4 Get in touch
                        a(href="#") (89) 982-278 356
                        a(href="#") demo@colorlib.com
                        a(href="#") 67/A, Colorlib, Green road, NYC
                .footer__but
                    <p> Copyright ©2020 All rights reserved | This template is made with 
                        i.fa.fa-heart 
                        span by  
                            a(href="https://colorlib.com") Colorlib   
                    .to__up
                        a(href='#top')
                            i.fas.fa-level-up-alt


